<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="chum.examples"
      android:versionCode="1"
      android:versionName="0.0.1">
    <application android:label="@string/app_name">
        <activity android:name=".ChumExamples"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BackgroundColorTouch"
            android:label="Background color touch" />

        <activity android:name=".FastestPossibleFPS"
            android:label="Fastest-possible FPS" />

        <activity android:name=".ForceCloseExample"
            android:label="Force-close test" />

        <activity android:name=".ManyManyNodes"
            android:label="Many-many nodes test" />

        <activity android:name=".RandomRectangles"
            android:label="Random color rects (2D)" />

        <activity android:name=".SpinningColorPyramid"
            android:label="Colored spinning pyramid (3D)" />

        <activity android:name=".TexturedCube"
            android:label="A cube with texture applied (3D)" />

        <activity android:name="chum.util.CrashReportMailerActivity" />


    </application>
</manifest> 
